<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/unusefull/assistant.css">
  <title>Document</title>
</head>
<body>

<header class="header">
  <a href="" class="logo">
    <img height="50" width="50" src="/images/main-logo.svg" alt="">
  </a>
  <a href="" class="logo-text">CooChat</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/myassistants">ChatBots</a></li>
    <li><a href="">Help</a></li>
    <li><a href="">Acount</a></li>
  </ul>
</header>
  <div class="scrollmenu" style="margin-top: 70px;">
    <a href="/myassistants">
      <svg width="20" viewBox="0 0 1024 1024" xmlns="http://www.w3.org/2000/svg" fill="#000000"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path fill="#000000" d="M224 480h640a32 32 0 1 1 0 64H224a32 32 0 0 1 0-64z"></path><path fill="#000000" d="m237.248 512 265.408 265.344a32 32 0 0 1-45.312 45.312l-288-288a32 32 0 0 1 0-45.312l288-288a32 32 0 1 1 45.312 45.312L237.248 512z"></path></g></svg>
    </a>
    <a id="menu-1" href="/data/assistant/<%= data %>">My Assistant</a>
    <a id="menu-1" href="/data/assistant/<%= data %>/dashboard">Dashboard</a>
    <a id="menu-3" href="#contact">Settings</a>
    <a id="menu-4" href="#about">Sources</a>
    <a id="menu-5" style="color: black;border-bottom: solid 2px #3ECD87;font-weight: bold;">Embed on site</a>
  </div> 

  <style>
    .code-box {
      border: 1px solid #ced4da;
      border-radius: 0.25rem;
      padding: 10px;
      margin-bottom: 20px;
      background-color: #f8f9fa;
    }
    .code-box textarea {
      width: 100%;
      min-height: 200px;
      resize: none;
      font-family: 'Courier New', Courier, monospace;
      color: #212529; /* Darker text color */
      background-color: transparent; /* Transparent background */
      border: none; /* Remove border */
      text-wrap: nowrap;
      
    }
    .copy-btn {
      margin-top: 10px;
    }
  </style>
</head>
<body>

  <div class="container my-5">
    <h2>Your assistant code</h2>
    <div class="code-box">
      <textarea readonly >
  //place this code before closing </body> tag
  
  <script 
    src="https://www.wisesupp.com/scripts/embed-assistant.js" 
    baseUrl = 'https://www.wisesupp.com'
    assistant="<%= data %>" 
    defer>
  </script>
  
      </textarea>
    </div>
    <button id="copy_btn" class="btn btn-primary copy-btn" onclick="copyCode()">Copy Code</button>
  </div>
  
  
  <script>
    function copyCode() {
      let btn = document.getElementById('copy_btn')
      const textarea = document.querySelector('.code-box textarea');
      textarea.select();
      document.execCommand('copy');
      btn.innerText = "Text Copied"

      setTimeout(function(){
        btn.innerText = "Copy Code"
      },1000)
    }
  </script>