<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/styles/unusefull/assistant.css">
  <title>Document</title>
</head>
<body>

<header class="header">
  <a href="" class="logo">
    <img height="50" width="50" src="/images/main-logo.svg" alt="">
  </a>
  <a href="" class="logo-text">CooChat</a>
  <input class="menu-btn" type="checkbox" id="menu-btn" />
  <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
  <ul class="menu">
    <li><a href="/mybots">ChatBots</a></li>
    <li><a href="">Help</a></li>
    <li><a href="">Acount</a></li>
  </ul>
</header>

<div class="scrollmenu" style="margin-top: 70px;">
  <a id="menu-1" href="#">My Assistant</a>
  <a id="menu-2" href="#news">Dashboard</a>
  <a id="menu-3" href="#contact">Settings</a>
  <a id="menu-4" href="#about">Sources</a>
  <a id="menu-5" href="#about">Embed on site</a>
</div> 

        

    <script>
        const Menus = ['menu-1','menu-2','menu-3','menu-4','menu-5']



    </script>
</body>
</html>