

    <header class="header">
        <a href="" class="logo">
          <img height="50" width="50" src="/images/main-logo.svg" alt="">
        </a>
        <a href="" class="logo-text">WiseSupp</a>
        <input class="menu-btn" type="checkbox" id="menu-btn" />
        <label class="menu-icon" for="menu-btn"><span class="navicon"></span></label>
        <ul class="menu">
          <li><a href="#work">Prices</a></li>
          <li><a href="#about">Resources</a></li>
          <li><a href="#careers">Contact</a></li>
          <li><a href="/myassistants">My Assistants</a></li>
        </ul>
    </header>

    
<div class="container">
  <div class="row my-5">
    <div class="col-12 col-md-6">
        <h1 class="fw-bold text-md-left display-2 display-md-2 mt-5">Custom AI Assistant taking care of your clients on your website</h1>
        <h5 class="display-7 text-left my-4">Create a personalized GPT, integrate it into your website, and allow it to manage customer service, lead cultivation, interact with your audience, and beyond.</h2>
        <button type="button" class="btn btn-success btn-primary btn-lg">Build Your Assistant
            <svg style="margin-left: 10px;" width="20" height="20" viewBox="0 0 60 60" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M27.4998 40.0001L37.4998 30.0001M37.4998 30.0001L27.4998 20.0001M37.4998 30.0001L7.49976 30.0001M11.2885 42.5001C15.325 48.53 22.1988 52.5001 29.9998 52.5001C42.4262 52.5001 52.4998 42.4265 52.4998 30.0001C52.4998 17.5736 42.4262 7.50012 29.9998 7.50012C22.1988 7.50012 15.325 11.4701 11.2885 17.5001" stroke="white" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
            </svg>   
        </button>
    </div>
    <div class="col-12 col-md-6 photo-div">
        <svg width="100%" fill="#000000" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"><path d="M21.928 11.607c-.202-.488-.635-.605-.928-.633V8c0-1.103-.897-2-2-2h-6V4.61c.305-.274.5-.668.5-1.11a1.5 1.5 0 0 0-3 0c0 .442.195.836.5 1.11V6H5c-1.103 0-2 .897-2 2v2.997l-.082.006A1 1 0 0 0 1.99 12v2a1 1 0 0 0 1 1H3v5c0 1.103.897 2 2 2h14c1.103 0 2-.897 2-2v-5a1 1 0 0 0 1-1v-1.938a1.006 1.006 0 0 0-.072-.455zM5 20V8h14l.001 3.996L19 12v2l.001.005.001 5.995H5z"></path><ellipse cx="8.5" cy="12" rx="1.5" ry="2"></ellipse><ellipse cx="15.5" cy="12" rx="1.5" ry="2"></ellipse><path d="M8 16h8v2H8z"></path></g></svg>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h1 class="display-7 text-center">Why your Business lost some potential new customers?</h1>
    </div>
  </div>
</div>
