/* :root{
  --chat-background-color:#fff;
  --title-background-color:#3ECD87;
  --bottom-background-color:#3ECD87;
  --assistan-response-color:black;
  --user-message-background-color:#10abff;
} */

:root{
  
}

.WiseSup-company{
  font-size: xx-small;
  margin-left: 10px;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
}

/*--------------------
Chat
--------------------*/
.chat {
  width: 100%;
  height: 70vh;
  z-index: 2;
  overflow: hidden;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.2);
  background: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  box-sizing: border-box;
}

/*--------------------
Chat Title
--------------------*/
.chat-title {
  flex: 0 1 55px;
  position: relative;
  z-index: 2;
  background: var(--title-background-color);
  color: #fff;
  text-transform: uppercase;
  text-align: left;
  padding: 10px 10px 10px 50px;
  box-sizing: border-box;
}
.chat-title h1, .chat-title h2 {
  font-weight: normal;
  font-size: 16px;
  margin: 0;
  padding: 0;
  text-align: left;
  margin-left: 8px;
  box-sizing: border-box;
}
.chat-title h2 {
  color: rgba(255, 255, 255, 0.5);
  font-size: 8px;
  letter-spacing: 1px;
  box-sizing: border-box;
}
.chat-title .avatar {
  position: absolute;
  z-index: 1;
  top: 8px;
  left: 9px;
  border-radius: 10px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(255, 255, 255, 0.24);
  box-sizing: border-box;
}
.chat-title .avatar img {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}

/*--------------------
Messages
--------------------*/
.highlighted-content-response{
  font-size: medium;
  color:rgb(255, 255, 255);
  box-sizing: border-box;
}

.messages {
  flex: 1 1 auto;
  color: rgb(0, 0, 0);
  background-color: var(--chat-background-color);
  overflow: auto;
  position: relative;
  width: 100%;
  box-sizing: border-box;
}
.messages .messages-content {
  position: absolute;
  top: 0;
  left: 0;
  height: 101%;
  width: 100%;
  box-sizing: border-box;
}
.messages .message {
  clear: both;
  float: left;
  padding: 6px 10px 7px;
  border-radius: 10px 10px 10px 0;
  background: rgba(0, 0, 0, 0.3);
  margin: 8px 0;
  font-size: 11px;
  line-height: 1.4;
  margin-left: 10px;
  position: relative;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  box-sizing: border-box;
}
.messages .message .timestamp {
  position: absolute;
  bottom: -15px;
  font-size: 9px;
  color: rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
}
.messages .message::before {
  content: "";
  position: absolute;
  bottom: -6px;
  border-top: 6px solid var(--user-message-background-color);
  left: 0;
  border-right: 7px solid transparent;
  box-sizing: border-box;
}
.messages .message .avatar {
  position: absolute;
  z-index: 1;
  bottom: -25px;
  left: -35px;
  border-radius: 30px;
  width: 40px;
  height: 40px;
  overflow: hidden;
  margin: 0;
  padding: 0;
  border: 2px solid rgba(255, 255, 255, 0.24);
  box-sizing: border-box;
}
.messages .message .avatar img {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}
.messages .message.message-personal {
  float: right;
  color: #fff;
  text-align: right;
  border-radius: 10px 10px 0 10px;
  margin-right: 10px;
  max-width: 80%;
  width: auto;
  text-align: left;
  font-size:medium;
  box-sizing: border-box;
}
.messages .message.message-personal::before {
  left: auto;
  right: 0;
  border-right: none;
  border-left: 5px solid transparent;
  border-top: 4px solid var(--user-message-background-color);
  bottom: -4px;
  box-sizing: border-box;
}
.messages .message:last-child {
  margin-bottom: 30px;
  box-sizing: border-box;
}
.messages .message.new {
  transform: scale(0);
  transform-origin: 0 0;
  animation: bounce 500ms linear both;
  font-size: medium;
  max-width: 75%;
  width: auto;
  background-color:var(--user-message-background-color);
  color: white;
  box-sizing: border-box;
}
.messages .message.loading::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--user-message-background-color);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  border: none;
  animation-delay: 0.15s;
  box-sizing: border-box;
}
.messages .message.loading span {
  display: block;
  font-size: 0;
  width: 20px;
  height: 10px;
  position: relative;
  box-sizing: border-box;
}
.messages .message.loading span::before {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--user-message-background-color);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: -7px;
  box-sizing: border-box;
}
.messages .message.loading span::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  display: block;
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background: var(--user-message-background-color);
  z-index: 2;
  margin-top: 4px;
  animation: ball 0.45s cubic-bezier(0, 0, 0.15, 1) alternate infinite;
  margin-left: 7px;
  animation-delay: 0.3s;
  box-sizing: border-box;
}

/*--------------------
Message Box
--------------------*/
.message-box {
  flex: 0 1 40px;
  width: 100%;
  background: var(--bottom-background-color);
  padding: 10px;
  position: relative;
  box-sizing: border-box;
}
.message-box .message-input {
  background: none;
  border: none;
  outline: none !important;
  resize: none;
  color: white;
  font-size:medium;
  height: 40px;
  margin: 0;
  padding: 5px;
  padding-right: 20px;
  width: 80%;
  box-sizing: border-box;
}
.message-box textarea:focus:-webkit-placeholder {
  color: transparent;
  box-sizing: border-box;
}
.message-box .message-submit {
  position: absolute;
  z-index: 1;
  top: 9px;
  right: 10px;
  color: #fff;
  border: none;
  background: #2df687;
  font-size: 10px;
  text-transform: uppercase;
  line-height: 1;
  padding: 6px 10px;
  border-radius: 10px;
  outline: none !important;
  transition: background 0.2s ease;
  width: 45px;
  box-sizing: border-box;
}
.message-box .message-submit:hover {
  background: #017234;
  box-sizing: border-box;
}

/*--------------------
Custom Srollbar
--------------------*/
.mCSB_scrollTools {
  margin: 1px -3px 1px 0;
  opacity: 0;
  box-sizing: border-box;
}

.mCSB_inside > .mCSB_container {
  margin-right: 0px;
  padding: 0 10px;
  box-sizing: border-box;
}

.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar {
  background-color: rgba(0, 0, 0, 0.5) !important;
  box-sizing: border-box;
}
.background-wise-div{
  width: 100vw;
  height: 100vh;
  z-index: 999999;
  box-sizing: border-box;
}

.main-wise-chat-div{
  position: fixed;
  right: -400px;
  bottom: 80px;
  width: 400px;
  transition: .4s;
  display: none;
  box-sizing: border-box;
  /* box-shadow: 5px 5px 10px 0.4px rgb(70, 70, 70);
  border-radius: 20px; */
}
.activate-message-content{
  animation: getIntoScreen 0.4s forwards;
  box-sizing: border-box;
}
.deactivate-message-content{
  animation: getOutOfScreen 0.4s forwards;
  box-sizing: border-box;
}

.chat-icon{
  position: fixed;
  right: 15px;
  bottom: 15px;
  width: 70px;
  height: 70px;
  transition: .4s;
  border-radius: 20px;
  box-sizing: border-box;
}
.chat-button-activated{
  right: 15px;
  bottom: 15px;
  width: 80px;
  height: 80px;
  box-shadow: 5px 5px 10px 0.4px rgb(70, 70, 70);
  overflow: hidden;
  box-sizing: border-box;
}

/*--------------------
Bounce
--------------------*/

@keyframes getIntoScreen {
  0%{
    right: -400px;
  }
  100%{
    right: 15px;
  }
}

@keyframes getOutOfScreen {
  0%{
    right: 15px;
  }
  80%{
    right: 25px;
  }
  90%{
    right: -100px;
  }
  100%{
    right: -400px;
  }

}


@keyframes bounce {
  0% {
    transform: matrix3d(0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  4.7% {
    transform: matrix3d(0.45, 0, 0, 0, 0, 0.45, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  9.41% {
    transform: matrix3d(0.883, 0, 0, 0, 0, 0.883, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  14.11% {
    transform: matrix3d(1.141, 0, 0, 0, 0, 1.141, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  18.72% {
    transform: matrix3d(1.212, 0, 0, 0, 0, 1.212, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  24.32% {
    transform: matrix3d(1.151, 0, 0, 0, 0, 1.151, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  29.93% {
    transform: matrix3d(1.048, 0, 0, 0, 0, 1.048, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  35.54% {
    transform: matrix3d(0.979, 0, 0, 0, 0, 0.979, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  41.04% {
    transform: matrix3d(0.961, 0, 0, 0, 0, 0.961, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  52.15% {
    transform: matrix3d(0.991, 0, 0, 0, 0, 0.991, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  63.26% {
    transform: matrix3d(1.007, 0, 0, 0, 0, 1.007, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  85.49% {
    transform: matrix3d(0.999, 0, 0, 0, 0, 0.999, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
  100% {
    transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
  }
}
@keyframes ball {
  from {
    transform: translateY(0) scaleY(0.8);
  }
  to {
    transform: translateY(-10px);
  }
}
